.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}

.header__logo {
  font-family: "Orbitron", sans-serif;
  font-size: 48px;
  margin: 20px 10px 10px 30px;
}

.header__window-nav {
  height: 60vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 77px;
  display: none;
  z-index: 1;

  background: rgb(135, 188, 255);
  background: linear-gradient(
    90deg,
    rgba(135, 188, 255, 0.7791491596638656) 0%,
    rgba(149, 74, 255, 0.8071603641456583) 44%,
    rgba(106, 0, 255, 0.36458333333333337) 100%
  );
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .header__window-nav {
    display: flex;
    z-index: 0;
    top: 0;
    height: 0;
  }
}

.header__nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .header__nav-links {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
    margin: 20px 10px 10px 30px;
  }
}

.header__nav-links a {
  margin: 20px;
}

.header__nav-links a:hover {
  border-bottom: 3px solid #1c6ea4;
}

.btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: none;
  border: 0;
  margin: 10px;
}
@media only screen and (min-width: 768px) {
  .btn {
    display: none;
  }
}

.btn span {
  background: #000;
  display: block;
  margin: 5px auto;
  width: 36px;
  height: 5px;
  border-radius: 5px;

  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/**OPEN**/
.open .top-line {
  animation-name: top-line-animation;
}
.open .middle-line {
  animation-name: middle-line-animation;
}
.open .botton-line {
  animation-name: botton-line-animation;
}
/**CLOSE**/
.top-line {
  animation-name: top-line-animation-close;
}
.top-middline {
  animation-name: middline-line-animation-close;
}
.top-botton {
  animation-name: botton-line-animation-close;
}

/**OPEN ANIMATION**/
@keyframes top-line-animation {
  50%,
  100% {
    margin: auto;
    transform: translateY(4.5px) rotate(-45deg);
  }
}
@keyframes middle-line-animation {
  20%,
  100% {
    margin: auto 0;
    width: 0;
    opacity: 0;
  }
}
@keyframes botton-line-animation {
  50%,
  100% {
    margin: auto;
    transform: translateY(-4.5px) rotate(45deg);
  }
}
/**CLOSE ANIMATION**/
@keyframes top-line-animation-close {
  0% {
    margin: auto 0;
    transform: translateY(4.5px) rotate(-45deg);
  }
  20%,
  100% {
    margin: 5px auto;
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes middle-line-animation-close {
  0% {
    margin: auto 0;
    width: 0;
    opacity: 0;
  }
  50%,
  100% {
    margin: 0 auto;
    width: 36px;
    opacity: 1;
  }
}
@keyframes botton-line-animation-close {
  0% {
    margin: auto;
    transform: translateY(-4.5px) rotate(45deg);
  }
  50%,
  100% {
    margin: 5px auto;
    transform: translateY(0px) rotate(0);
  }
}
